
{% extends 'index.html'%}
{% load staticfiles %}
{% block content %}
<!-- <div class"row">
<code>
Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below
Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below
Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below

</code>
</div> -->
<br>
<div class="">

 <div class="row blogs">
  <div class="col-sm-9">
  <h3 class="title">Latest <i>lukynote</i></h3>

    <div class="row">
 	 <div class="col-sm-9 col-md-6">
   	 <div class="thumbnail">
      <img src="./vintage.png" alt="" height="50%">
      <div class="caption">
        <h3>Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        <p><a href="#" class="btn btn-accent" role="button">read more</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-md-6">
   	 <div class="thumbnail">
      <img src="/vintage.png" alt="..." height="50%">
      <div class="caption">
        <h3>Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        <p><a href="#" class="btn btn-accent" role="button">read more</a> </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
 	 <div class="col-sm-9 col-md-6">
   	 <div class="thumbnail">
      <img src="./vintage.png" alt="" height="50%">
      <div class="caption">
        <h3>Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        <p><a href="#" class="btn btn-accent" role="button">read more</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-md-6">
   	 <div class="thumbnail">
      <img src="/vintage.png" alt="..." height="50%">
      <div class="caption">
        <h3>Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        <p><a href="#" class="btn btn-accent" role="button">read more</a> </p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>

 <!-- <div class="row">
  <div class="col-sm-9">
    <div class="row">
 	 <div class="col-sm-9 col-md-6">
   	 <div class="thumbnail">
      <img src="./vintage.png" alt="..." height="50%">
      <div class="caption">
        <h3>Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-md-6">
   	 <div class="thumbnail">
      <img src="./vintage.png" alt="..." height="50%">
      <div class="caption">
        <h3>Variables</h3>
        <p>Variables determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
  </div> -->

 

{% endblock %}