{% extends 'base.html'%}

{% load staticfiles %}

{% block content %}
<br>
<div class="profile">
 <div class="jumbotron">

<div class="row">
  <div class="col-xs-12 col-md-8">
  <div class="profile-pic">
  	<img src = "{% static './blackman.jpg'%}" class = "img-circle">

  	</div>
  	<p>Web and Mobile Developer</p>
  	<table>
  		<tbody>
  			<tr>
  				<td>Name: </td><td class="value"> Abdulmanan Ahmed</td>
  			</tr>
  			<tr>
  				<td>Alias Name: </td><td class="value"> Lukyman</td>
  			</tr>
  			<tr>
  				<td>Location: </td><td class="value">Nairobi, Kenya</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
  <div class="col-xs-6 col-md-4">kjxcll</div>
</div>
	
</div> 
	
</div>
{% endblock %}